@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700,900|Noto+Serif+TC:400,500,600,700,900|Raleway:400,500,600,700,800,900|Roboto:400,500,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900&display=swap');

	:root {
		--primary-color:#00bcd4;
		--primary-color-light:#62efff;
		--primary-color-dark:#008ba3; 
		--secondary-color:#ff8a65;
		--secondary-color-light:#ffbb93;
		--secondary-color-dark:#c75b39;
		--grey-normal:#546e7a;
		--grey-dark:#29434e;
		--grey-light:#819ca9;

	}

	#nav_desktop{
		position: fixed !important;
		
	}
	.active{
		font-weight: 600;
		color:black;
	}
	.nav-link{
		color:lightgrey;
	}

	
	.logo{
		width: 36px;
		font-family:'PT Serif','Sans Serif';
	}

	.opacity{
		opacity: .5;
	}
	a{ color:var(--primary-color);}
	@media screen and (max-width: 800px) {
		#nav_desktop{
		  position: relative !important;
		}

		
	  }
	
	
	body{
		overflow-x: hidden;
	}
	ul{
		list-style: none;
		padding:0;
		margin-left:0px;
	}
	h1,h2,h3,h4,h5,h6{
		font-family: 'Merriweather','Noto Serif TC', 'Sans Serif';
		font-weight: 800;
		margin-top: 16px;
	}

	h1{
		font-weight:600;
	}

	h2{
		font-weight:600;
	}

	p,ul,li,a{
		font-family: 'Roboto','Noto Sans TC',sans-Serif !important;
		color:var(--grey-dark) !important;
		font-size: 18px !important;
		line-height: 30px !important;
		font-weight:200;
		margin-top:-4px;
	}
    .t-dark{
		color:Black;
	}

	.t-white{
		color:white;
	}
	.t-grey{
		color:#29434e !important;
	}

	.border-radius-16{
		border-radius: 16px;
	}
	
	.shadow{
		box-shadow: 0 0 10px 0  #546e7a; 
	}

	.row{
		padding:96px 56px; 
	}

	.bg-grey{
		background-color: whitesmoke;
	}
    .navbar-dark .navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	  }
	/* scrollbar*/
		/* width */
		::-webkit-scrollbar-track
		{
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			border-radius: 10px;
			background-color: white;
		}
		
		::-webkit-scrollbar
		{
			width: 12px;
			background-color:white;
		}
		
		::-webkit-scrollbar-thumb
		{
			border-radius: 10px;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
			background-color: #00bcd4;
		}
	
	/*Scrollbar*/

	/*index*/
	.scrolldown{
		width:56px;
		height: 56px;
		background-color: var(--primary-color);
		margin:0 auto;
		border-radius:28px;
		z-index: 999;
		
	}
	#arrow_down{
		animation-name: arrow;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
	@keyframes arrow{
		from{top:16;opacity:1;}
		to{top:24px;opacity:.5;}
	}

	.circle {
        position: absolute;
        border-radius: 100px;
		
        animation-timing-function: ease-in-out;
        animation-direction:alternate-reverse;
        z-index: 1;
        
    }

    @keyframes mymove {
        from {
			transform-origin: -250% -250%;
			
        }

        to {
            transform-origin: 250% 250%;
        }
    }

	.index-title{
		font-size: 6rem;
	}
    .project-image > a > img{
       border-radius: 8px 8px 0  0;
      
       cursor: pointer;
	   transition:1s ease-in-out;
	   padding:-8px;
    }

	.home-nav-left{float: left;position: fixed}
	

    .btn-dark,.btn-secondary{
		color:var(--secondary-color);
		border:1px solid var(--secondary-color);
		background:transparent;
		box-shadow: 8px 8px 0 0px var(--secondary-color);
		transition:.5s ease-in-out;
		font-family: 'Source Sans Pro',sans-Serif !important;
	}
	
	.btn-dark:hover,.btn-secondary:hover{
		color:white;
		background-color:var(--secondary-color);
		border-color:white;
		box-shadow: 2px 2px 0 0px var(--secondary-color);
		transition:.5s ease-in-out;
		font-family: 'Source Sans Pro',sans-Serif !important;
	}
    .badge{
        background-color:var(--primary-color);
        padding: 4px;
        color:white;
        font-size: 14px;
        margin-left: 8px;
    }
	/*index-end */
	
	/* about*/
	.card2{
			margin:16px 0;
			border:solid lightgrey 1px;
			padding:24px 32px;border-radius:8px;background-color:white;
			transition:.5s ease-in-out;
	}

	.card2:hover{
		box-shadow: 0 0 20px 0 lightgrey;
		transition:.5s ease-in-out;
	}
	.dialog-list {
        width: 100% !important;
        position: relative;
		min-height: 56px;
		max-height:200px;
		padding:0 8px;
		display:inline-block;
    }

    .dialog {
        
        padding: 12px;
        display: inline-block;
        position: relative;
        left: 0px;
        margin: 4px 0;
		border:2px whitesmoke solid;
    }

    .dialog-left {
        float: left;
        text-align: left;
        max-width: 50%;
        min-width: 0%;
        border-radius: 28px 28px 28px 4px;
        animation: dialog2 1s;
        animation-timing-function: ease-in-out;
        background:linear-gradient(-90deg, #ccc, #fff);
		background-size:200% 200%;	
		-webkit-animation:Gradient 1s ease-in-out ;
		-moz-animation: Gradient 1s ease-in-out ;
		animation: Gradient 1s ease-in-out ;
    	}

    .dialog-right {
        text-align: left;
        max-width: 50%;
        border-radius: 28px 28px 4px 28px;
		color:white;
        min-width: 0%;
        float: right;
        background-color: var(--primary-color);
        animation: dialog .2s;
        animation-timing-function: ease-in-out;

    	}

    .dialog-right:first-child{
        border-radius: 28px 28px 4px 28px;
    }
    .dialog-right:nth-child(2){
    border-radius: 28px 4px 28px 28px;

    }

    .dialog-content {
        height: 60vh;
        background-color:white;
		overflow-y:auto;
		border-radius: 16px;
		margin-bottom:8px;
	}
	
	.btn-question{
		width:100%;
		background-color: var(--primary-color);
		color:white;
		font-size: 14px;
	}

    @keyframes dialog {
        0%{
            opacity: 0;
			padding: 12px;
			color:white;
        }

		50% {
            opacity: .2;
			padding: 12px;
			color:white;
        }

		90% {
            opacity: 1;
			padding: 12px;
			color:lightgrey;
        }

        100% {
            opacity: 1;
			padding: 12px;
			color:black;
        }

    }

    @-webkit-keyframes Gradient {
		0% {
	        background-position: 0% 50%;
			color:rgba(0,0,0,0);
			padding: 0px 0;
			border-radius: 0px;
			}
		50% {
	        background-position:100% 50%;
			color:rgba(0,0,0,0);
			padding: 12px 12px;
			border-radius: 0px;
		}
		100%{
	        background-position: 0% 50%;
			color:rgba(0,0,0,1);
			padding: 12px 12px;
			border-radius: 28px 28px 28px 4px;
		}
	}

	@-moz-keyframes Gradient {
		0%{
	        background-position: 0% 50%;
			color:rgba(0,0,0,0);
			padding:0px 0;
			border-radius:0px;
		}
		50%{
	        background-position: 100% 50%;
			color:rgba(0,0,0,0);
			padding: 12px 12px;
			border-radius: 0px;
		}
		100% {
	        background-position: 0% 50%;
			color:rgba(0,0,0,1);
			padding: 12px 12px;
			border-radius: 28px 28px 28px 4px;
		}
	}

	@keyframes Gradient {
		0% {
	        background-position: 0% 50%;
			color:rgba(0,0,0,0);
			padding: 0px 0;
			border-radius: 0px;
		}
		50% {
	        background-position: 100% 50%;
			color:rgba(0,0,0,0);
			padding: 12px 12px;
			border-radius: 0px;
		}
		100% {
	        background-position: 0% 50%;
			color:rgba(0,0,0,1);
			padding: 12px 12px;
			border-radius: 28px 28px 28px 4px;
		}
	}

	#about-mobile{
		display:none;
	}
	

	/* about end*/
	
	
	
	/*poct*/
		.title{
			text-align: center;
			padding:8px 0;
			margin:16px 0;
			
		}

		.card{
			margin:32px 0;border:solid lightgrey 1px;
			padding-bottom:24px;border-radius:8px;background-color:white;
			transition:.5s ease-in-out;
		}
		

		.card:hover{
			box-shadow: 0 0 20px 0 lightgrey;
			transition:.5s ease-in-out;
		}

	/*poct*/
    /*sideproject page*/
    .sideproject-content{
		border-radius: 16px;
		margin:16px 0px;
		padding: 8px 24px 32px 24px;
		transition: .5s ease-in-out;
		background-color: white;
		position: relative;
		z-index:999;
	}

	.sideproject-content:hover{
		box-shadow: 0 0 16px 0px rgba(0,0,0,.2);
		transition: .5s ease-in-out;
	}

	.sideproject-p{
		float: left;
		color:lightslategray;
		line-height:12px;
	}

	.btn-secondary{
		float:right;
		position: relative;
		top:-32px;
	}
    /*sideproject page end*/


    /* projects*/
    .next-project,.previous-project{
		height:72px;
        position: relative;
        bottom:0px;
        cursor: pointer;
		transition: 1s ease-in-out;
		line-height: 72px;
		width:180px;
		border-radius:64px;
		
    }

    .previous-project:hover{
        background-color:var(--primary-color-light);
		transition: 1s ease-in-out;
		box-shadow: 0 20px 20px -10px rgba(0,0,0,.2);
	}
	
	
	.next-project:hover{
        background-color:var(--secondary-color);
		transition: 1s ease-in-out;
		box-shadow: 0 20px 20px -10px rgba(0,0,0,.2);
	}


	.next-project{
		color:black;
		font-weight:800;
	}


	.previous-project{
		color:grey;
	}

    /*projects end*/

	.column{
		-webkit-column-count: 2; 
                -moz-column-count: 2; 
                column-count: 2;
	}


	.navhead{
		top: 0;
		height: 72px;
		width: 100%;
		float: left;
		position: fixed;
		background-color: lightgrey;
		z-index: 999;
	}

	.list-year{
		color:grey;
		padding-bottom: 8px;
		font-weight: 100;
	}
	
	p, .list-item{
		font-size: 1em;
		opacity: .8;
		line-height: 1.8em;
	}

	.mobile-alert{
		display:none;
	}
  footer{
    height: 64px;
    
    color:grey;
    text-align: center;
    line-height: 64px;
    font-weight: 100;

  }

  .modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}

	@media screen and (max-width: 992px) {
		.navbar-collapse ul {
			top:25vh;
			position: relative;
			height: calc(100vh - 50px);
			overflow-y: hidden;
			z-index: 999;
			
		  }

	  .home-nav-left{float: left;position: relative !important;}
	
	  .row{
		padding:32px 8px;
		}

		html{
			overflow-x: hidden;
		}
		
		.col-sm-6{
			padding:32px 16px;
		}
		#nav_desktop{
			left:4px;
		}
		.title{
			text-align: center;
			padding:8px;
			margin:16px 0;
			background-color:transparent;
			font-size:2.6em;
		}

		.index-title{
			font-size: 4em;
		}
		

		.mobile-alert{
			background-color:grey;
			border-radius:8px;
			color:white;
			padding:8px;
			margin: 8px;
			position: fixed;
			bottom:0;
			display: block;
			z-index: 900;
		}
		.circle {
			display: none;
		}
		.download{
			text-align: center;
		}

		.mobile-alert>.row{
			padding:8px;
		}

		.card2{
			margin:16px 0;
			border:solid lightgrey 1px;
			padding:8px 8px;border-radius:8px;background-color:white;
			transition:.5s ease-in-out;
		}
		.card{
			margin:24px 0;border:solid lightgrey 1px;
			padding:8px;border-radius:8px;background-color:white;
			transition:.5s ease-in-out;
		}
		
		ul{
			list-style: none;
			padding:4px;
			margin-left: 0px;
		}

		.column{
			-webkit-column-count: 1; 
					-moz-column-count: 1; 
					column-count: 1;
		}
		

		.btn-dark,.btn-secondary{
			color:white;
			border:1px solid var(--secondary-color);
			background:var(--secondary-color);
			transition:.5s ease-in-out;
			font-family: 'Source Sans Pro',sans-Serif !important;
			box-shadow: none;
		}
	
		p{
			line-height:26px;
			font-size: 14px;
		}

		#about-desktop{
			display:none;
		}
		
		#about-mobile{
			display:block;
		}

		.profile-image{
			width: 50%;
			height:auto;
			margin-top:25px;
		}
	}

	img.lazy {
        width: 100%;
        height: auto;
        display: block;
		
    }