@import url('https://fonts.googleapis.com/css?family=Lato');
	
	:root {
		--primary-color:#00bcd4;
		--primary-color-light:#62efff;
		--primary-color-dark:#008ba3; 
		--secondary-color:#ff8a65;
		--secondary-color-light:#ffbb93;
		--secondary-color-dark:#c75b39;
		--grey-normal:#546e7a;
		--grey-dark:#29434e;
		--grey-light:#819ca9;

	}

	#nav_desktop{
		position: fixed !important;
	}

	.opacity{
		opacity: .5;
	}

	@media screen and (max-width: 800px) {
		#nav_desktop{
		  position: relative !important;
		}

		
	  }
	
	
	body{
		font-family: 'lato',sans-Serif;
	}
	ul{
		list-style: none;
		padding:0;
		margin-left: -14px;
	}

	h1{
		font-weight:900;
	}

	h2{
		font-weight:900;
	}

	p{
		color:var(--grey-dark);
	}

	.row{
		padding:0 144px; 
	}
    /*index*/
    .project-image > a > img{
       border-radius: 8px;
       box-shadow:0 0 4px 0 grey;
       cursor: pointer;
       transition:1s ease-in-out;
    }

    .project-image > a >img:hover{
        
        box-shadow:0 0 16px 0 grey;
        transition:1s ease-in-out;
     }

    .btn-dark{
		color:white;
		background-color: var(--secondary-color);
		border-color:var(--secondary-color-dark);
		transition:.5s ease-in-out;
	}
	
	.btn-dark:hover{
		background-color: var(--primary-color);
		border-color:var(--primary-color-dark);
		transition:.5s ease-in-out;
	}
    .badge{
        background-color:var(--primary-color);
        padding: 4px;
        color:white;
        font-size: 14px;
        margin-left: 8px;
    }
    /*index-end */
    
    /*sideproject page*/
    .sideproject-content{
		border-radius: 16px;
		margin:16px 0px;
		padding: 8px;
		transition: .5s ease-in-out;
		background-color: white;
	}

	.sideproject-content:hover{
		box-shadow: 0 0 16px 0px rgba(0,0,0,.2);
		transition: .5s ease-in-out;
	}

	.sideproject-p{
		float: left;
		color:lightslategray;
		line-height:12px;
	}

	.btn-secondary{
		float:right;
		position: relative;
		top:-32px;
	}
    /*sideproject page end*/


    /* projects*/
    .next-project{
        width: 100%;
        height:72px;
        background-color:var(--primary-color);
        position: fixed;
        color:white;
        bottom:0;
        cursor: pointer;
        transition: 1s ease-in-out;
    }

    .next-project:hover{
        background-color:var(--primary-color-light);
        transition: 1s ease-in-out;
    }

    /*projects end*/

	.navhead{
		top: 0;
		height: 72px;
		width: 100%;
		float: left;
		position: fixed;
		background-color: lightgrey;
		z-index: 999;
	}

	.list-year{
		color:grey;
		padding-bottom: 8px;
		font-weight: 100;
	}
	
	p, .list-item{
		font-size: 1em;
		opacity: .8;
		line-height: 1.8em;
	}

  footer{
    height: 64px;
    background-color: black;
    color:rgba(255,255,255,.5);
    text-align: center;
    line-height: 64px;
    font-weight: 100;

  }

	@media screen and (max-width: 992px) {
	  .row{
		padding:0 16px; 
	    }
	}